
html *{
    box-sizing: border-box;
    font-size: 16px;
}
:root{
    --bg: #212529;
    --main-color: skyblue;
    --main-pink: #f30b7b;
    --bg-box: white;
    --light: white;
    --main-font: 'Roboto';
    --main-font: 'Montserrat';
    --main-font: 'Poppins';
    --font-light-weight: 100; 
    --font-medium-weight: 400; 
    --font-strong-weight: 700;
    --grid-width: 100%; 
    --grid-height: 450px; 
    --cell-width: 20%;
    --cell-height: 45px;
    --font-size: .8rem;
    --font-size-small: .7rem;
    --font-size-large: 1.5rem;
}

@media(min-width:700px){
    :root{
        --grid-width: 500px; 
        --grid-height: 450px; 
        --cell-width: 100px;
        --cell-height: 45px;
        --font-size: 1.1rem;
        --font-size-small: .9rem;
        --font-size-smaller: .8rem;
    }
}

body{
    background-color: var(--bg);
    background-image: linear-gradient(var(--bg), #666);
    background-size: cover;
    background-position: 10% 10%;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    height: 100vh;
}

@keyframes rightAnim {
    0% {
      background-color: yellow;
    }
    100% {
      background-color: limegreen;
    }
  }

@keyframes wrongAnim {
    0% {
      background-color: red;
    }
    100%{
        background-color: orange;
    }
  }
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100%{
        opacity: 1;
    }
  }
@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100%{
        opacity: 0;
    }
  }

h1{
    color: var(--light);
    font-family: var(--main-font);
    font-weight: var(--font-strong-weight);
}

.header{
    display: flex;
    place-content: center;
    width: 100%;
}

.logo{
    max-width: 300px;
    padding: 2rem 0 1rem 0;
}

.game{
    opacity:0;
    position: absolute;
    top:0;
    z-index: -1;
}

.grid-container{
    width: 100%;
    max-width: 100%;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .0em 0;
    padding: .0em;
    position: relative;
    /* border: 1px solid red; */
}
.grid{
    position: relative;
    width: var(--grid-width);
    height: var(--grid-height);
    background: var(--bg-box);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    box-shadow: 3px 3px 3px 3px #333;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-width);
    height: var(--cell-height);
    font-size: var(--font-size);
    font-weight: var(--font-strong-weight);
    border: 1px solid lightgray;
}
.active{
    background-color: var(--main-color);
    border: 3px solid var(--main-pink);
}

.count-down{
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    text-align: center;
    font-size: 100px;
    color: chartreuse;
    opacity: 0.8;
}

.right{
    animation: rightAnim .15s infinite;
    background-color: limegreen;
}

.wrong{
    animation: wrongAnim .25s reverse infinite;
    background-color: limegreen;
}
.intro{
    /* position: absolute; */
    width: 90%;
    background-image: linear-gradient(#666, var(--bg));
    padding: 1em 0 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    border: 3px solid var(--main-pink);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #333;
    opacity: 1;
}

.intro ul{
    text-align: left;
    font-size: var(--font-size-small);
    list-style-image: url('../images/bullet.png');
}

@media(min-width: 700px){
    .intro{
        width: 50%;
        height: 60%;
    }
}

.intro_headline{
    color: var(--main-pink);
    text-transform: uppercase;
    margin-bottom: 0;
}
.intro_text{
    color: whitesmoke;
    letter-spacing: 1.2px;
    font-size: .9rem;
    margin: .3rem;
}
.intro_word{
    color: var(--main-color);
    font-size: 160%;
    padding: 0;
    line-height: 100%;
}

.arrow-img{
    width: 30px;
}

.strong{
    text-transform: uppercase;
}


.start-btn{
    background-color: var(--main-color);
    border: 3px solid var(--main-pink);
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .8rem 4rem;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px #141414;
}

.start-btn:hover{
    background-color: var(--main-pink);
    border: 3px solid var(--main-color);
    box-shadow: 2px 2px 1px #333;
}
.message-area{
    display: flex;
    flex-direction: row;
    width: var(--grid-width);
    border: 3px solid var(--main-color);
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* border-bottom: none; */
}
.points-area{
    color: white;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 1.07px;
    width: 100%;
    min-width: 30%;
    display: flex; 
    justify-content: space-between;  
}

/* @media(min-width: 700px){
    .points-area{
        width: 100%;
        min-width: 50%;
    } 
} */
.points-area-label{
    padding: 0 1.5rem 0 .5rem;
    border-radius: 5px;
}

.points-area-cluster{
    display: flex;

}

.message{
    color: white;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 1.07px;
    display: flex;
    flex-direction: column;   
    font-size: var(--font-size);
}

footer{
    position: fixed;
    bottom: 0;
    color: white;
    font-size: var(--font-size-smaller);
    width: 100%;
    text-align: center;
    padding: 2em 0 1em 0;
    background-color: transparent;
}

/* .LR-btn{
    width: 150px;
    padding: .5rem 2rem;
    background-color: var(--main-color);
    color: #141414;
    border: none;
} */