
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
:root{
    --bg: #212529;
    --main-color: skyblue;
    --main-pink: #f30b7b;
    --bg-box: white;
    --light: white;
    --main-font: 'Open Sans';
    /* --main-font: 'Roboto'; */
    --main-font: 'Montserrat';
    --main-font: 'Poppins';
    --font-light-weight: 100; 
    --font-medium-weight: 400; 
    --font-strong-weight: 700;
    --grid-width: 100%; 
    --grid-height: 450px; 
    --cell-width: 20%;
    --cell-height: 45px;
    --font-size: .8rem;
    --font-size-small: .9rem;
    --font-size-large: 1.5rem;
    --font-size-smaller: .6rem;
    --font-size-larger: 1.4rem;
    --font-size-largest: 1.8rem;
}

@media(min-width:700px){
    :root{
        --grid-width: 500px; 
        --grid-height: 450px; 
        --cell-width: 100px;
        --cell-height: 45px;
        --font-size: 1.1rem;
        --font-size-smaller: .8rem;
        --font-size-small: .9rem;
        --font-size-larger: 1.4rem;
        --font-size-largest: 2.8rem;
    }
}

body{
    background-color: var(--bg);
    background-image: linear-gradient(var(--bg), #333);
    background-size: cover;
    background-position: 10% 10%;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    min-height: 110vh;
}

@media(min-width:700px){
    body{
        background-image: linear-gradient(var(--bg), #666);
    }
}

@media(min-width:1025px){
    .mobile-only{
        display: none;
    }
}
@media(max-width:1024px){
    .desktop-only{
        display: none;
    }
}





@keyframes rightAnim {
    0% {
      background-color: yellow;
    }
    100% {
      background-color: limegreen;
    }
  }

@keyframes wrongAnim {
    0% {
      background-color: red;
    }
    100%{
        background-color: orange;
    }
  }
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100%{
        opacity: 1;
    }
  }
@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100%{
        opacity: 0;
    }
  }

h1{
    color: var(--light);
    font-family: var(--main-font);
    font-weight: var(--font-strong-weight);
}

.header{
    display: flex;
    place-content: center;
    width: 100%;
}

.logo{
    max-width: 250px;
    padding: 1.5rem 0 .75rem 0;
}

@media(min-width: 700px){
    .logo{
        max-width: 300px;
        padding: 2rem 0 1rem 0;
    }
}


.game{
    opacity:0;
    /* position: absolute; */
    display: none;
    top:0;
    /* z-index: -1; */
}

.grid-container{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .0em 0;
    padding: .0em;
    position: relative;
    /* border: 1px solid red; */
}

@media(min-width: 700px) and (max-width: 1024px){
    .grid-container{
    height: 80vh;
    }
}

.grid{
    position: relative;
    width: var(--grid-width);
    height: var(--grid-height);
    background: var(--bg-box);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    box-shadow: 3px 3px 3px 3px #333;
    border-left: 2px solid var(--bg);
    border-right: 2px solid var(--bg);
}

@media(min-width:700px){
    .grid{
        border-radius: 5px;
        border-left: unset;
        border-right: unset;
    }
}
.square{
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-width);
    min-width: 50px;
    height: var(--cell-height);
    font-size: var(--font-size);
    font-weight: var(--font-strong);
    border: 1px solid lightgray;
}
.active{
    background-color: var(--main-color);
    border: 3px solid var(--main-pink);
}

.count-down{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    text-align: center;
    font-size: 100px;
    color: chartreuse;
    opacity: 0.8;
}

.right{
    animation: rightAnim .15s infinite;
    background-color: limegreen;
}

.wrong{
    animation: wrongAnim .25s reverse infinite;
    background-color: limegreen;
}

.opener{
    padding: 0 0rem 0 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.opener h1{
    color: var(--main-color);
    font-weight: 400; 
    margin: 0;
    padding: 0;
}

.screen{
    min-width: 25%;
}

@media(min-width:700px){
    .opener{
        padding: 0 0rem 0 2rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .screen{
        min-width: 25%;
    }

    img.screen{
        width: 300px;
        max-height: 320px;
        /* border: 1px solid red; */
        align-self: center;
    }
}


.intro{
    width: 100%;
    background-image: linear-gradient(#666, var(--bg));
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    opacity: 1;
}

.intro ul{
    text-align: left;
    font-size: var(--font-size-small);
    list-style-image: url('../images/bullet.png');
    font-weight: 300;
}

.intro li{
    margin-bottom: 10px;
}

@media(min-width: 700px){
    .intro{
        width: 80%;
        height: 60%;
        border: 3px solid var(--main-pink);
        padding: 4em 2em 4em 2em;
        border-radius: 5px;
        box-shadow: 3px 3px 3px 3px #333;
    }
}

/* .intro_headline{

} */
h2.intro_headline{
    color: var(--main-color);
    font-size: .8rem;
    font-weight: 400;
    font-family: var(--main-font);
    margin-top: 0;
    margin-bottom: 1rem;
    /* margin-bottom: 1rem; */
}
h2.end_headline{
    font-size: var(--font-size-largest);
    color: var(--main-pink);
    font-weight: 400;
    font-family: var(--main-font);
    margin-top: 0;
    margin-bottom: 1rem;
}
h2.end_win{
    font-size: var(--font-size-larger);
    color: var(--main-pink);
    font-weight: 400;
    font-family: var(--main-font);
    margin-top: 0;
    margin-bottom: 1rem;
}
.intro_text{
    color: whitesmoke;
    letter-spacing: 1.2px;
    font-size: .9rem;
    margin: .3rem;
}
.intro_word{
    color: var(--main-color);
    font-size: 160%;
    padding: 0;
    line-height: 100%;
}

.arrow-img{
    width: 30px;
}

.strong{
    text-transform: uppercase;
}


.start-btn, .end-btn{
    background-color: var(--main-color);
    border: 3px solid var(--main-pink);
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .8rem 4rem;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px #141414;
}

.start-btn:hover, .end-btn:hover{
    background-color: var(--main-pink);
    border: 3px solid var(--main-color);
    box-shadow: 2px 2px 1px #333;
}



.message-area{
    display: flex;
    flex-direction: row;
    width: var(--grid-width);
    padding: 1rem;
    border-top: 3px solid var(--main-color);


    /* border-bottom: none; */
}

@media(min-width: 700px){
    .message-area{
        border: 3px solid var(--main-color);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    } 
}



.points-area{
    color: white;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 1.07px;
    width: 100%;
    min-width: 30%;
    display: flex; 
    justify-content: space-between;  
}


.points-area-label{
    padding: 0 1.5rem 0 .5rem;

}

@media(min-width: 700px){
    .points-area-label{
        border-radius: 5px;
    } 
}

.points-area-cluster{
    display: flex;
}

.message{
    color: white;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 1.07px;
    display: flex;
    flex-direction: column;   
    font-size: var(--font-size);
}

.end-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: none;
    z-index: 2;
    background-image: linear-gradient(#666, var(--bg));
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

@media(min-width: 700px){
    .end-message{
        width: 50%;
        /* height: 60%; */
        border: 3px solid var(--main-pink);
        padding: 4em 2em 4em 2em;
        border-radius: 5px;
        box-shadow: 3px 3px 3px 3px #333;
    }
}
@media(min-width: 1025px){
    .end-message{
        width: 25%;
    }
}



/* 
.intro{
    width: 100%;
    background-image: linear-gradient(#666, var(--bg));
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    opacity: 1;
}

.intro ul{
    text-align: left;
    font-size: var(--font-size-small);
    list-style-image: url('../images/bullet.png');
    font-weight: 300;
}

.intro li{
    margin-bottom: 10px;
}

@media(min-width: 700px){
    .intro{
        width: 80%;
        height: 60%;
        border: 3px solid var(--main-pink);
        padding: 4em 2em 4em 2em;
        border-radius: 5px;
        box-shadow: 3px 3px 3px 3px #333;
    }
}

*/


.end-message-text{
    /* border: 1px solid red; */
    margin-bottom: 1rem;
}

footer{
    color: white;
    font-size: var(--font-size-smaller);
    width: 100%;
    text-align: center;
    padding: 2em 1em 1em 1em;
    background-color: transparent;
    /* position: absolute;
    bottom: -20px; */
}

@media(min-width: 700px){
    footer{
        position: fixed;
        bottom: 0;
    }
}
