
html *{
    box-sizing: border-box;
}
:root{
    --bg: #212529;
    --main-color: skyblue;
    --main-pink: #f30b7b;
    --bg-box: white;
    --light: white;
    --main-font: 'Roboto';
    --main-font: 'Montserrat';
    --main-font: 'Poppins';
    --font-light-weight: 100; 
    --font-medium-weight: 400; 
    --font-strong-weight: 700;
    --grid-width: 100%; 
    --grid-height: 450px; 
    --cell-width: 20%;
    --cell-height: 45px;
    --font-size: .8rem;
    --font-size-large: 1.5rem;
}

@media(min-width:700px){
    :root{
        --grid-width: 500px; 
        --grid-height: 500px; 
        --cell-width: 100px;
        --cell-height: 50px;
        --font-size: 1.1rem;
    }
}

body{
    background-color: var(--bg);
    background-image: url('/images/bg.jpg');
    background-size: cover;
    /* background-position: 50%; */
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

@keyframes rightAnim {
    0% {
      background-color: yellow;
    }
    100% {
      background-color: limegreen;
    }
  }

@keyframes wrongAnim {
    0% {
      background-color: red;
    }
    100%{
        background-color: orange;
    }
  }

h1{
    color: var(--light);
    font-family: var(--main-font);
    font-weight: var(--font-strong-weight);
}

.header{
    display: flex;
    place-content: center;
    width: 100%;
}

.logo{
    max-width: 300px;
    padding: 2rem;
}

.grid-container{
    width: 100%;
    max-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5em 0;
    padding: .5em;
}
.grid{
    width: var(--grid-width);
    height: var(--grid-height);
    background: var(--bg-box);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-width);
    height: var(--cell-height);
    font-size: var(--font-size);
    font-weight: var(--font-strong-weight);
    border: 1px solid lightgray;
}
.active{
    background-color: var(--main-color);
    border: 3px solid var(--main-pink);
}

.right{
    animation: rightAnim .15s infinite;
    background-color: limegreen;
}

.wrong{
    animation: wrongAnim .25s reverse infinite;
    background-color: limegreen;
}
.modal{
    border: 1px solid darkblue;
    position: absolute;
    width: 290px;
    background-color: var(--bg);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    border: 3px solid var(--main-color);
    border: 3px solid var(--main-pink);
    border-radius: 5px;
}

.modal_headline{
    color: whitesmoke;
    text-transform: uppercase;
}
.modal_text{
    color: whitesmoke;
    letter-spacing: 1.2px;
}
.modal_word{
    color: limegreen;
    font-size: 160%;
    padding: 0;
    line-height: 100%;
}

.start-btn{
    background-color: white;
    border: none;
    color: var(--bg);
    font-size: 1.5rem;
    font-weight: 700;
    padding: .8rem 4rem;
    text-transform: uppercase;
}
.message-area{
    display: flex;
    flex-direction: row;
    width: var(--grid-width);
    border: 3px solid white;
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* border-bottom: none; */
}
.points-area{
    color: white;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 1.07px;
    width: 30%;
    min-width: 30%;
    display: flex;   
}
.points-label, .points{
    width: 50%;
    
}

.message{
    color: white;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 1.07px;
    display: flex;
    flex-direction: column;   
    font-size: var(--font-size);
}

.LR-btn{
    width: 150px;
    padding: .5rem 2rem;
    background-color: var(--main-color);
    color: #141414;
    border: none;
}